img {
    height: 75px;
}

.mainheader {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 75px;
}

.esti {
    font-size: xx-large;
}

.left {
    align-self: flex-end;
    width: 750px;
    justify-content: flex-start;
}

.right {
    width: 100px;
    justify-content: flex-end;
    /* float: right; */
}