<div class="search">
    <div class="subpane">
        <h4>PATIENT INFORMATION</h4>
        <div class="row">
            <div class="col">
                <label>LAST NAME</label>
                <input type="text" placeholder="Last Name" />
            </div>
            <div class="col">
                <label>FIRST NAME</label>
                <input type="text" placeholder="First Name" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>DATE OF BIRTH</label>
                <input type="text" placeholder="Date of Birth" />
            </div>
            <div class="col">
                <label>GENDER</label>
                <input type="text" placeholder="Gender" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>ALTERNATE LAST</label>
                <input type="text" placeholder="Last Name" />
            </div>
            <div class="col">
                <label>ALTERNATE FIRST</label>
                <input type="text" placeholder="First Name" />
            </div>
        </div>
    </div>

    <div class="subpane">
        <h4>HEALTH RECORD</h4>
        <div class="row">
            <div class="col">
                <label>BC HEALTH CARD NO</label>
                <input type="text" placeholder="BC Health Card No" />
            </div>
            <div class="col">
                <label>HEALTH REGION</label>
                <input type="text" placeholder="Health Region" />
            </div>
        </div>
        <h4>CONTACT</h4>
        <div class="row">
            <div class="col">
                <label>PHONE NUMBER</label>
                <input type="text" placeholder="Phone Number" />
            </div>
            <div class="col">
                <label>EMAIL</label>
                <input type="text" placeholder="Email" />
            </div>
        </div>
    </div>

    <div class="subpane">
        <h4>ADDRESS</h4>
        <div class="row">
            <div class="col">
                <label>UNIT</label>
                <input class="short" type="text" placeholder="Unit" />
            </div>
            <div class="col">
                <label>STREET NO</label>
                <input class="short" type="text" placeholder="Street No" />
            </div>
            <div class="col">
                <label>STREET NAME</label>
                <input type="text" placeholder="Street Name" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>CITY</label>
                <input type="text" placeholder="City" />
            </div>
            <div class="col">
                <label>COUNTRY</label>
                <input type="text" placeholder="Country" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>POSTAL CODE</label>
                <input class="short" type="text" placeholder="Postal Code" />
            </div>
        </div>
    </div>
</div>
<div class="row buttons">
    <button kendoButton [primary]="true">Search</button>
    <button kendoButton>Clear</button>
</div>
<div class="row checkboxgroup">
    <div class="col">
        <span class="checkboxlabel">
            <input type="checkbox" />
            CLOSED INVESTIGATIONS
        </span>
    </div>
    <div class="col">
        <span class="checkboxlabel">
            <input type="checkbox" />
            INACTIVE CLIENTS
        </span>
    </div>
    <div class="col">
        <span class="checkboxlabel">
            <input type="checkbox" />
            INDETERMINATE CLIENTS
        </span>
    </div>
</div>
<div class="row searchresults">

</div>
<div class="row buttons">
    <button kendoButton [primary]="true">View</button>
    <button kendoButton>Create New Client</button>
    <button kendoButton>Create New Investigation</button>
    <button kendoButton>Update Investigation</button>
</div>