.search {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

.subpane {
    background-color: #EEEEEE;
    margin: 10px 10px 10px 0px;
    padding: 0px 10px 10px 10px;
    width: 350px;
    border-radius: 10px;
}

label,
input {
    margin-right: 20px;
}

label {
    margin-top: 10px;
    font-size: x-small;
    font-weight: bold;
}

input {
    width: 120px;
    height: 25px;
}

h4 {
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 20px;
}

.short {
    width: 70px;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-size: large;
}

.checkboxgroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.checkboxlabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    margin-right: 20px;
    font-weight: bold;
}

input[type=checkbox] {
    width: 15px;
    margin-right: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.k-primary {
    background-color: green;
    border: none;
}

.k-primary:hover {
    background-color: lightgreen;
}

.searchresults {
    height: 350px;
    background-color: lightgray;
}