<div class="navbar">
    <a routerLinkActive="active" routerLink="search">
        <span class="row">Search</span
    ></a>
    <a routerLinkActive="active" routerLink="personalinfo">
        <span class="row">Personal Information</span
    ></a>
    <a routerLinkActive="active" routerLink="diseasetreatment">
        <span class="row">Disease Information/Treatment</span
    ></a>
    <a routerLinkActive="active" routerLink="stiinfo">
        <span class="row">STI Information</span
    ></a>
    <a routerLinkActive="active" routerLink="contact">
        <span class="row">Contacts</span
    ></a>
</div>